@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.header, .footer, .entrance {
  background-color: #1F2937;
  color: #F9FAF8;
}

a {
  text-decoration: none;
}

.entrance p, a, .footer {
  color: #E5E7EB;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
}

button, .action-box {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 10px;
}

.my-imgs img {
  /* border-radius: 50%; */
  height: 150px;
  width: 150px;
  border: solid 2px #3882F6;
  border-radius: 10px; 
}

h1, h2, h3, h4 {
  margin: 0;
}